extends layout
block body
  div
    #public
      #container
        #eventmenu.menu
          div.menuitem#event_add Add event
          div.menuitem#delete Delete
      #editarea
        #eventlist
          h3 events
          table.eventlist
            tr
              th id
              th title
        #eventinformation
          h2 edit event
          div select event..
        #conditionlist
          h3 conditions
        #consequencelist
          h3 consequences
      script
        head.js("http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.5.4.min.js")
        head.js("/javascripts/_/tree.js")
        head.js("/javascripts/_/create.js")